@font-face {
    font-family: 'Gilroy-Light';  
    src:  url("/fonts/Gilroy/Gilroy-Light.otf") format("opentype");    
    font-style: normal;
}


@font-face {
    font-family: 'Gilroy-Bold';  
    src:  url("/fonts/Gilroy/Gilroy-Bold.otf") format("opentype");   
    font-style: normal;
    font-weight: bold;
}